In [2]:
import pandas as pd

df = pd.read_csv('AverageHousePrice.csv')
df.head()

,Unnamed: 0,Average house price,GDP,CPI,Personal savings rate,Effective rate
0,1963-01-01,19300.0,621.672,30.44,10.9,3.00
1,1963-04-01,19400.0,629.752,30.48,10.7,3.00
2,1963-07-01,19200.0,644.444,30.69,10.1,3.00
3,1963-10-01,19600.0,653.938,30.75,11.5,3.50
4,1964-01-01,19600.0,669.822,30.94,10.7,3.25